@page "/forgot-password"
@layout HeadlessLayout
@inherits ForgotPasswordPage

<PageTitle>Esqueci a senha - Showcase</PageTitle>

<div class="flex items-center justify-center min-h-screen p-6 bg-background">
    <Toast @ref="Toast" />

    <div class="w-full max-w-md">

        <div class="flex flex-col items-center mb-8">
            <img src="imgs/logo/showcase.png" class="h-auto mb-4 w-28">

            <h1 class="text-3xl fonto-bold text-foreground">
                Recuperar senha
            </h1>

        </div>

        <EditForm Model="@EmailRequest" OnValidSubmit="HandleForgotPasswordAsync"
                  class="flex flex-col gap-5 p-8 border shadow-xl bg-surface border-border roundend-2xl">

            <div class="text-base text-wrong">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>

            <div class="flex flex-col gap-2">

                <Label Text="Email" For="Email" />

                <InputText @bind-Value="EmailRequest.Email" placeholder="seu@email.com" type="text" id="Email"
                           class="w-full px-4 py-3 transition-all duration-200 border outline-none bg-background border-border rounded-xl text-foreground placeholder:text-muted focus:border-primary focus:ring-2 focus:ring-primary/20" />

            </div>

            <SubmitButton Text="Enviar email" />

        </EditForm>

    </div>
</div>