@page "/password-reset"
@layout HeadlessLayout
@inherits PasswordResetPage

<PageTitle>Alterar Senha - Showcase</PageTitle>

<div class="flex items-center justify-center min-h-screen p-6 bg-background">
    <Toast @ref="Toast" />

    <div class="w-full max-w-md">

        <EditForm Model="@VerifyPasswordRequest" OnValidSubmit="HandlePasswordResetAsync"
                  class="flex flex-col gap-5 p-8 border shadow-xl bg-surface border-border roundend-2xl">

            <div class="text-base text-wrong">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>

            <div class="flex flex-col gap-2">

                <Label Text="Senha" For="Password" />

                <InputText @bind-Value="VerifyPasswordRequest.Password" placeholder="Senha" type="password"
                           id="Password"
                           class="w-full px-4 py-3 transition-all duration-200 border outline-none bg-background border-border rounded-xl text-foreground placeholder:text-muted focus:border-primary focus:ring-2 focus:ring-primary/20" />

            </div>

            <div class="flex flex-col gap-2">

                <Label Text="Confirmação da Senha" For="ConfirmationPassword" />

                <InputText @bind-Value="VerifyPasswordRequest.ConfirmationPassword" placeholder="Senha" type="password"
                           id="ConfirmationPassword"
                           class="w-full px-4 py-3 transition-all duration-200 border outline-none bg-background border-border rounded-xl text-foreground placeholder:text-muted focus:border-primary focus:ring-2 focus:ring-primary/20" />

            </div>

            <SubmitButton Text="Enviar email" />

        </EditForm>

    </div>
</div>